html {
    height: 100%;
}
body {
    background-color: #1F050D;
    background-image: url("../img/noisy-texture.png");
    color: #E0E0E0;
    color: rgba(224, 224, 224, 0.5);
    font-weight: bold;
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    background-color: #1F050D;
    margin: 0 auto;
    width: 100%;
}

.row {
    display: block;
    text-align: center;
    width: 100%;
}

.countdown {
    display: inline-block;
}

.countdown > div {
    float: left;                
    min-width: 8.5em;
}

.countdown .timeText {
    color: #3F252D;
    margin-top: 0;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0,0,0,.75), 0 -1px 1px rgba(255,255,255,0.3);
}

.stancedText {
    color: #3F252D;
    text-shadow: 0 1px 1px rgba(0,0,0,.75), 0 -1px 1px rgba(255,255,255,0.3);
}

.headline {
    color: #E0E0E0;
    font-size: 4em;
    margin-bottom: 0;
    padding: 0 0.5em;
}

.map {
    min-height: 18em;
}

.map > img {
    background-color: #F0F0F0;
    padding: 1em;
}