html {
    height: 100%;
}
body {
    background-color: #3F252D;
    /*background-image: url("../img/noisy-texture.png");*/
    color: #E0E0E0;
    color: rgba(224, 224, 224, 0.5);
    font-weight: bold;
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    background-color: #1F050D;
    margin: 0 auto;
    width: 100%;
}

.row {
    display: block;
    text-align: center;
    width: 100%;
}

.row-fixed {
    display: block;
    max-width: 480px;
    margin: auto;
    text-align: left;
}

.countdown {
    display: inline-block;
}

.countdown > div {
    background-color: #1B040B;
    background-color: rgba(0,0,0,.1);
    border-radius: 1.5em;
    box-shadow: 0 2px 2px rgba(255,255,255,0.05), inset 0 2px 1px rgba(0,0,0,0.75);
    float: left;
    margin: 1em 0.5em;
    min-width: 5em;
    padding: 1em;
}

.countdown .timeText {
    color: #3F252D;
    margin: 0;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0,0,0,.75), 0 -1px 1px rgba(255,255,255,0.3);
}

.stancedText {
    color: #3F252D;
    text-shadow: 0 1px 1px rgba(0,0,0,.75), 0 -1px 1px rgba(255,255,255,0.3);
}

.headline {
    color: #E0E0E0;
    font-size: 4em;
    margin: 0;
}

.map {
    min-height: 18em;
}

.map > img {
    background-color: #F0F0F0;
    padding: 1em;
}






@media screen and (max-width: 640px) {
    .countdown > div {
        margin: 1em 0.2em;
        min-width: 5em;
        padding: 0.5em 0;
    }
    .countdown .timeText {
        font-size: 0.8em;
        text-shadow: 0 1px 1px rgba(0,0,0,.75), 0 -1px 0 rgba(255,255,255,0.2);
    }
    .headline {
        font-size: 2em;
    }
}